apiVersion: ui.platform-mesh.io/v1alpha1
kind: ContentConfiguration
metadata:
  labels:
    ui.platform-mesh.io/entity: main
  name: main-accounts
spec:
  inlineConfiguration:
    content: |-
      {
          "name": "accounts",
          "creationTimestamp": "2022-05-17T11:37:17Z",
          "luigiConfigFragment": {
              "data": {
                  "nodes": [
                      {
                          "pathSegment": "accounts",
                          "navigationContext": "accounts",
                          "label": "Accounts",
                          "order": 300,
                          "entityType": "main",
                          "loadingIndicator": {
                              "enabled": false
                          },
                          "keepSelectedForChildren": true,
                          "url": "/assets/platform-mesh-portal-ui-wc.js#generic-list-view",
                          "webcomponent": {
                              "selfRegistered": true
                          },
                          "context": {
                              "resourceDefinition": {
                                  "group": "core.platform-mesh.io",
                                  "plural": "accounts",
                                  "singular": "account",
                                  "kind": "Account",
                                  "scope": "Cluster",
                                  "readyCondition": {
                                    "jsonPathExpression": "status.conditions[?(@.type=='Ready' && @.status=='True')]",
                                    "property": ["status.conditions.status", "status.conditions.type"]
                                  },
                                  "ui": {
                                      "logoUrl": "https://www.kcp.io/icons/logo.svg",
                                      "listView": {
                                          "fields": [
                                              {
                                                  "label": "Name",
                                                  "property": "metadata.name"
                                              },
                                              {
                                                  "label": "Display Name",
                                                  "property": "spec.displayName"
                                              },
                                              {
                                                  "label": "Type",
                                                  "property": "spec.type"
                                              }
                                          ]
                                      },
                                      "detailView": {
                                          "fields": [
                                              {
                                                  "label": "Description",
                                                  "property": "spec.description"
                                              },
                                              {
                                                  "label": "Display Name",
                                                  "property": "spec.displayName"
                                              }
                                          ]
                                      },
                                      "createView": {
                                          "fields": [
                                              {
                                                  "label": "Name",
                                                  "property": "metadata.name",
                                                  "required": true
                                              },
                                              {
                                                  "label": "Type",
                                                  "property": "spec.type",
                                                  "required": true,
                                                  "values": [
                                                      "account"
                                                  ]
                                              },
                                              {
                                                  "label": "Display Name",
                                                  "property": "spec.displayName"
                                              },
                                              {
                                                  "label": "Description",
                                                  "property": "spec.description"
                                              }
                                          ]
                                      }
                                  }
                              }
                          },
                          "children": [
                              {
                                  "pathSegment": ":core_platform-mesh_io_accountId:1",
                                  "hideFromNav": true,
                                  "keepSelectedForChildren": false,
                                  "defineEntity": {
                                      "id": "core_platform-mesh_io_account:1",
                                      "contextKey": "core_platform-mesh_io_accountId",
                                      "dynamicFetchId": "core_platform-mesh_io_account",
                                      "additionalContextKeys": ["accountPath"],
                                      "graphqlEntity": {
                                          "group": "core.platform-mesh.io",
                                          "kind": "Account",
                                          "query": "{ metadata { name annotations deletionTimestamp } }"
                                      }
                                  },
                                  "context": {
                                      "accountId": ":core_platform-mesh_io_accountId:1",
                                      "core_platform-mesh_io_accountId": ":core_platform-mesh_io_accountId:1",
                                      "resourceId": ":core_platform-mesh_io_accountId:1"
                                  }
                              }
                          ]
                      }
                  ]
              }
          }
      }
    contentType: json
