---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: platform-mesh-operator-argocd-role
  namespace: argocd
rules:
- apiGroups:
  - argoproj.io
  resources:
  - appprojects
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - applications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch

