---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.platform-mesh.io
  resources:
  - platformmeshes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.platform-mesh.io
  resources:
  - platformmeshes/finalizers
  verbs:
  - update
- apiGroups:
  - core.platform-mesh.io
  resources:
  - platformmeshes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - realm.keycloak.crossplane.io
  resources:
  - realms
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - realm.keycloak.crossplane.io
  resources:
  - realms/finalizers
  verbs:
  - update
- apiGroups:
  - realm.keycloak.crossplane.io
  resources:
  - realms/status
  verbs:
  - get
