apiVersion: tenancy.kcp.io/v1alpha1
kind: WorkspaceType
metadata:
  name: org
spec:
  extend:
    with:
    - name: security
      path: root
    - name: search
      path: root
  defaultAPIBindings:
    - export: core.platform-mesh.io
      path: root:platform-mesh-system
    - export: tenancy.kcp.io
      path: root
    - export: topology.kcp.io
      path: root
{{- if eq .featureEnableTerminalControllerManager "true" }}
    - export: terminal.platform-mesh.io
      path: root:platform-mesh-system
{{- end }}
  defaultChildWorkspaceType:
    name: account
    path: root
  limitAllowedChildren:
    types:
      - name: account
        path: root
  limitAllowedParents:
    types:
      - name: orgs
        path: root