apiVersion: tenancy.kcp.io/v1alpha1
kind: WorkspaceAuthenticationConfiguration
metadata:
  name: orgs-authentication
spec:
  jwt:
    - issuer:
        url: https://{{ .baseDomainPort }}/keycloak/realms/welcome
        audiences:
          - welcome
        audienceMatchPolicy: MatchAny
        {{- with .domainCADec }}
        certificateAuthority: |
{{ . | indent 10 }}
        {{- end }}
      claimMappings:
        groups:
          claim: groups
          prefix: ""
        username:
          claim: email
          prefix: ""
      {{- if eq .featureDisableEmailVerification "true" }}
      claimValidationRules:
        - expression: "claims.?email_verified.orValue(true) == true || claims.?email_verified.orValue(true) == false"
          message: "Allowing both verified and unverified emails"
      {{- end }}
